.sticky-top {
  margin-bottom:0em;
   top: 0;
    position: sticky;
    z-index: 1;
}

mat-toolbar {
  height: 3em;
  background-color: whited;
}

.wrapper {
}

.nav-text {
  font-size: 2em;
  font-style: normal;
  margin-left: 0.5em;
  margin-right: 0.5em;
}